



At any time these rules can change. Failure to abide by any rules can lead to account warnings or can lead up to a permanent ban!

[1]. Non-roleplay behavior, RDM, VDM, cop-baiting, trolling, or griefing will not be tolerated. This includes but is not limited to being toxic/obnoxious towards other players & staff members.

[2]. You MUST value your life and respect fair RP.

[3]. New Life Rule, if your character “see’s the light” or gets picked up by a local ambulance and taken to the hospital and you spawn at the hospital you are not to remember anything that happened leading up to 15 minutes. 

[4] No metagaming. Using Out-of-Character or 3rd party information in an in-character context.

[5] No powergaming. Force RP that does not give another player a chance to RP their own response.

[6] Kidnapping/hostage is allowed, no LEO required to kidnap a civilian. A minimum of 4 LEO’s need to be on to kidnap ONE LEO.

[7] Must have a working microphone!

[8] Make a reasonable character name. Have a name that makes sense, nothing offensive, no political names or historic names.

[9] Offensive RP is not allowed, this includes sexual assault, rape, racist rp etc. 

[10] Do not break character unless spoken to by an admin who is investigating something as an admin. Just because someone else breaks character doesn’t mean you do it or you have to as well.

[11] Absolutely no combat logging.(This is leaving the server while involved in an active scenario with others)

[12] Absolutely no cheating/hacking of any kind. Anyone caught exploiting bugs to benefit themselves in anyway will be met with a permanent ban with no appeal.

[13] Green Zones, there will be no kidnapping/shooting/killing/injuring/robbing people in green zones, hospitals/police stations/garages.

[14] Robbing players. If you’re being robbed you MUST value your life and FULLY cooperate. If you’re robbing someone you CANNOT make someone take cash from their bank account, or take anything out of a vehicle from a garage or take items out of their house.

[15] There needs to be a minimum of 2 LEO’s on duty for selling drugs/Robbing locals etc. etc.